body {
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: 'Cantarell', sans-serif;
  font-size: 12.5pt;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.5em;
  letter-spacing: -3px;
  word-spacing: .1em;
  margin: 0;
  padding: .4em 0 .35em;
  text-align: center;
  text-transform: uppercase;
}

.is-aligned-left {
  text-align: left;
}

.is-aligned-center {
  text-align: center;
}

.is-aligned-right {
  text-align: right;
}

.level {
  align-items: center;
  display: flex;
  flex-direction: rows;
  justify-content: space-between;

  .level-left {
    margin-right: 1em;
  }

  .level-left,
  .level-right {
    &.is-large {
      flex: 1;
    }
  }
}

.icon-button {
  border: 0;
  background: none;
  cursor: pointer;
  height: 1.8rem;
  padding: 0;
  width: 1.8rem;;
}

footer {
  margin: 2em 1em .5em;
  text-align: right;
}