$base-font-size: 12.5pt;

$body-font: 'Cantarell', sans-serif;
$header-font: 'Fjalla One', sans-serif;

$column-background-colors: #C2024F, #04BBBF, #D2D945, #FCB13F, #FF594F;

$primary-color: #138b8d;


$white: #fff;
$white-1: hsl(224, 10%, 99%);
$white-2: hsl(224, 10%, 98%);
$white-3: hsl(224, 10%, 95%);

$grey-1: hsl(224, 2%, 90%);
$grey-2: hsl(224, 2%, 80%);
$grey-3: hsl(224, 2%, 60%);
$grey-4: hsl(224, 2%, 40%);
$grey-5: hsl(224, 2%, 30%);
$grey-6: hsl(224, 2%, 20%);

$task-item-bg-color: rgb(252, 249, 233);

$highlighted-border-color: #dbf5ff;
$highlighted-shadow-color: rgba(18, 128, 168, .5);
